In [3]:
import pandas as pd
import numpy as np
from distance_benchmark import compute_pfipf

### Init : read + pfipf

In [17]:
path_o = "../data/testing_data/output_org_osaka/"
path_r = "../data/testing_data/output_ref_osaka/"

In [28]:
o_d1 = np.load(f"{path_o}/cell_traj_d1.npy")
o_d2 = np.load(f"{path_o}/cell_traj_d2.npy")
r_d1 = np.load(f"{path_r}/cell_traj_d1.npy")
r_d2 = np.load(f"{path_r}/cell_traj_d2.npy")

o_d1d2 = np.concatenate([o_d1, o_d2], axis=1)
r_d1d2 = np.concatenate([r_d1, r_d2], axis=1)
assert(o_d1d2.shape == r_d1d2.shape)

In [23]:
pfipf_o = compute_pfipf(o_d1d2, max(o_d1d2.max(), r_d1d2.max()), o_d1d2.shape[0])
pfipf_r = compute_pfipf(r_d1d2, max(o_d1d2.max(), r_d1d2.max()), o_d1d2.shape[0])

### Anonymisation

In [170]:
o_d1d2_ano = o_d1d2.copy()
for i in range(o_d1d2_ano.shape[0]):
    for j in range(o_d1d2_ano.shape[1]):
        index = o_d1d2_ano[i][j]
        if pfipf_o[i][index] > 0.3 or (j < 2 or (j < (o_d1d2_ano.shape[1]/2) + 2 and j >= o_d1d2_ano.shape[1]/2)):
            o_d1d2_ano[i][j] = -1

In [171]:
df_ano = pd.DataFrame(o_d1d2_ano)
df_ano = df_ano.reset_index()
df_ano["index"] = df_ano.index + 1
df_ano = df_ano.melt("index").sort_values(["index", "variable"]).reset_index(drop=True).drop("variable", axis=1)
df_ano = df_ano.rename(columns={"index": "user_id", "value": "reg_id"})

In [172]:
df_ori = pd.read_csv(f"{path_o}/dataframe.csv").drop(["y_id", "x_id", "y(center)", "x(center)", "hospital"], axis=1)
df_ori.head()

   user_id  time_id  reg_id
0        1       41     410
1        1       42     316
2        1       43     283
3        1       44     282
4        1       45     153

In [ ]:
df_ori["reg_id"] = df_ano["reg_id"].astype(str)

In [148]:
df_ori["reg_id"].replace("-1", "*", inplace=True)

In [154]:
df_ori["reg_id"].to_csv("test_ano_alpha_0.3_home_3.csv", index=False, header="reg_id")

In [159]:
df_ori[df_ori.user_id == 3]

     user_id  time_id reg_id
80         3       41     -1
81         3       42     -1
82         3       43     -1
83         3       44    433
84         3       45    273
85         3       46    305
86         3       47    305
87         3       48     15
88         3       49    305
89         3       50    305
90         3       51    240
91         3       52    176
92         3       53    337
93         3       54    304
94         3       55    369
95         3       56    274
96         3       57    273
97         3       58    240
98         3       59    304
99         3       60    369
100        3       61    567
101        3       62    601
102        3       63    797
103        3       64    669
104        3       65    733
105        3       66    701
106        3       67     -1
107        3       68     -1
108        3       69    926
109        3       70     -1
110        3       71    959
111        3       72     -1
112        3       73    733
113        3       74    637
114        3       75    637
115        3       76    469
116        3       77    568
117        3       78    405
118        3       79    501
119        3       80    469